<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/grid.css">
</head>
<body>
    <h1><%= title %></h1>
    <div class="links">
        <a href="/album/new">Create Album</a>
        <a href="/">Back Home</a>
    </div>
    <div class="content">
        <% albums.map(album => { %>
            <ul>
                <li class="main"><a href="/album/<%= album.title.toLowerCase() %>"><%= album.title %></a></li>
                <li>Artist: <a href="/artist/<%= album.artist %>"><%= album.artist %></a></li>
                <li>Quantity: <%= album.quantity %></li>
            </ul>
        <% }) %>
    </div>
    </body>
</html>