<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% albums.map(album => { %>
        <ul>
            <li>Title: <%= album.title %></li>
            <li>Artist: <%= album.artist %></li>
            <li>Release Date: <%= album.release %></li>
            <li>Genre: <%= album.genre %></li>
            <li>Quantity: <%= album.quantity %></li>
            <li><a href="/album/<%= album.title.toLowerCase() %>">Go to Album</a></li>
        </ul>
    <% }) %>
    <a href="/album/new">Create Album</a>
</body>
</html>