<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>Description: <%= content[0].description %></h2>
    <% if (content[0].title !== null) { %>
        <% content.map(album => { %>
            <ul>
                <li>Title: <a href="/album/<%= album.title %>"><%= album.title %></a></li>
                <li>Artist <a href="/artist/<%= album.artist %>"><%= album.artist %></a></li>
                <li>Release: <%= album.release.toLocaleDateString() %></li>
            </ul>
        <% }) %>
    <% } %>
    <a href="/genre/<%= title %>/update">Update Genre</a>
    <form action="/genre/<%= title %>/delete" method="POST">
        <button type="submit" onClick="return confirm('Are you sure you want to delete this genre?');">Delete Genre</button>
    </form>
    <a href="/genre">Back to Genres</a>
</body>
</html>