<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% content.map(item => { %>
        <ul>
            <li><%= item.name %></li>
            <li><%= item.description %></li>
            <li><a href="/genre/<%= item.name %>">Go to Genre</a></li>
        </ul>
    <% }) %>
    <a href="/genre/new">Create Genre</a>
    <a href="/">Back Home</a>
</body>
</html>