<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/grid.css">
</head>
<body>
    <h1><%= title %></h1>
    <div class="links">
        <a href="/genre/new">Create Genre</a>
        <a href="/">Back Home</a>
    </div>
    <div class="content">
        <% content.map(item => { %>
            <ul>
                <li class="main"><a href="/genre/<%= item.name %>"><%= item.name %></a></li>
                <li><%= item.description %></li>
            </ul>
        <% }) %>
    </div>
</body>
</html>